# Standard exclusion-based ignore (Railpack-compatible)
# Replaced upstream whitelist approach which used ** globs that break Railpack file copy

.git
node_modules
**/node_modules
**/dist
**/.turbo
compiled
.env*
